:root {
	/* Colors */
	--soft-blue: hsl(215, 51%, 70%);
	--cyan: hsl(178, 100%, 50%);
	--primary-bg: hsl(217, 54%, 11%);
	--card-bg: hsl(216, 50%, 16%);
	--line: hsl(215, 32%, 27%);
	--white: hsl(0, 0%, 100%);

	/* Font family */
	--font-family: Outfit, sans-serif;

	/* Animation time */
	--animation-time: 300ms;
}
